!!! 5
html(lang="en")
  head
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
    link(rel="icon", type="image/png", href="img/favico.png")
    style(type="text/css")
            html { height: 100% }
            body { height: 100%; margin: 0; padding: 0 }
    title Sharry


    script(type="text/javascript",src='jquery-1.7.min.js')

    script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key=AIzaSyABQ7KzpYoVRa9eM63geCVFoBz74XajLyg&sensor=false")
    script(type="text/javascript", src="socket.io/socket.io.js")

    script
        var lat="";
        var lon="";
        var indexcord=0;
        var neighborhoods=[];

        var socket = io.connect();
        socket.on('cord', function (cord) {
            initialize(indexcord,cord);
            indexcord++;
            console.log(cord);
        });
        socket.on('nUtenti',function(nUt){


        });
        socket.on('interests',function(interests){








            });
        cord=[];
         cord[0]=[ 52.51236,13.31998];
         cord[1]=[ 52.51430,13.30914];
         cord[2]=[ 52.51563,13.29921];
         cord[3]=[ 52.51102 ,13.29282];
         cord[4]=[ 52.811397 ,13.269480];
         cord[5]=[ 52.811397 ,13.669480];
        var map;
        var contentString;

        var markers = [];
        var iterator = 0;

        function initializeMap(){
            var myOptions = {
                zoom: 12,
                center:  new google.maps.LatLng(52.514549,13.397920),
                scrollwheel: false,
                    navigationControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    draggable: false,
                    streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map =  new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        }
        function initializeMap1(){
                    var myOptions = {
                        zoom: 15,
                        center:  new google.maps.LatLng(52.514549,13.297920),
                        scrollwheel: false,
                            navigationControl: false,
                            mapTypeControl: false,
                            scaleControl: false,
                            draggable: false,
                            streetViewControl: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    map =  new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                }

        function initializeMap2(){
                    var myOptions = {
                        zoom: 15,
                        center:  new google.maps.LatLng(52.48478 ,13.33165),
                        scrollwheel: false,
                            navigationControl: false,
                            mapTypeControl: false,
                            scaleControl: false,
                            draggable: false,
                            streetViewControl: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    map =  new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                }
        function initialize (i,cord){

            neighborhoods[i] = cord ;
            if(i==0){

                initializeMap();
                iterator = 0;
            }
            else{
              drop(i);
            }
        }

        function addMarker(i) {
            var icon;


                icon="img/pointer-0"+i+".png";


            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(neighborhoods[i][0],neighborhoods[i][1]),
                map: map,
                draggable: false,

                animation: google.maps.Animation.DROP,
                icon: icon
            }));

        }
        function addMarker2(i) {
                    var icon;


                        icon="img/p"+i+".png";

                     console.log(cord[i][0]);
                    markers.push(new google.maps.Marker({
                        position: new google.maps.LatLng(cord[i][0],cord[i][1]),
                        map: map,
                        draggable: false,

                        animation: google.maps.Animation.DROP,
                        icon: icon
                    }));

                }
                function addMarker3() {
                                    var icon;


                                        icon="img/startup-weekend-event.png";


                                    var marker=new google.maps.Marker({
                                                                            position: new google.maps.LatLng(52.48478,13.33165),
                                                                            map: map,
                                                                            draggable: false,

                                                                            animation: google.maps.Animation.DROP,
                                                                            icon: icon
                                                                        });

                                    google.maps.event.addListener(marker, 'click', function() {
                                      infowindow.open(map,marker);
                                    });
                                   markers.push(marker);

                                }
        function drop(i) {

                setTimeout(function() {

                    addMarker(i);
                }, i * 20+500);

        }
        function drop2(i) {
                         console.log("ciao");
                        setTimeout(function() {

                            addMarker2(i);
                        }, i * 20+500);

                }
        function drop3(i) {
                                 console.log("ciao");
                                setTimeout(function() {

                                    addMarker3();
                                }, i * 20+500);

                        }

        $().ready(function(){

            $('#wrap').bind("mouseenter",function() {

                                    done=false;
                                  $('#container').stop().animate({

                                    opacity: '1',

                                  }, 1000, function() {
                                    // Animation complete.
                                  });

                                }).bind("mouseleave",function(){

                                         $('#container').stop().animate({



                                             opacity: '1',

                                           }, 1000, function() {

                                           });

                                });
             $('#nUtenti').bind("mouseenter",function() {

                                                 done=false;
                                               $('#nUtenti').stop().animate({

                                                 opacity: '1',

                                               }, 1000, function() {
                                                 // Animation complete.
                                               });

                                             }).bind("mouseleave",function(){

                                                      $('#nUtenti').stop().animate({



                                                          opacity: '1',

                                                        }, 1000, function() {

                                                        });

                                             });


        });
        function entra(){
                        $('.ent').css("display","block");
                        console.log($('.ent'));
                        $('.ent').stop().animate({

                        opacity:1

                        }, 1300, function() {
                        // Animation complete.
                        });
        }
        function entra2(){
                            $('.ent').css("display","none");
                            $('img#ent2').css("display","block");
                                console.log($('img#ent2'));
                                $('img#ent2').stop().animate({

                                opacity:1

                                }, 1300, function() {
                                // Animation complete.
                                });
                }


        function drop1(){
                                         for(var i=0;i<6;i++)
                                            drop2(i);
        }



  body
        #cont

            #map_canvas(style="position:absolute;width:100%;height:103%;z-index:0; ",onclick="initializeMap1();drop1();")
            #wrap(style="position:relative;z-index:50;")
                #leftside(style="margin-left:10px; position:absolute ;background-color:#8c0000; width:250px;  opacity:0.8; height:750px")
                #header( style="margin-left:10px;position:absolute; margin-top:30px;z-index:52;width:250px")
                    img(src="img/header.png",style="width:226px;height:94px; margin-left:10px; display:block")

                    img(src="img/sharry-it-cross.png",style="width:40px;height:40px; ", onclick="entra();",onmouseover="$(this).css('cursor','pointer')")
                    img(src="img/spotlight.png",style="float:right;width:40px;height:40px;display:inline",onclick="entra2()")

                    img(class="ent",src="img/background-sharry.png",style="left:-240px;opacity:0;display:none;z-index:55")
                    input(class="ent",type="textbox",style="padding-left:10px;border:none; background-color:transparent;display:none;position:absolute;background-image:url('img/casella-singola.png'); width:122px; left:15px;top:187px;height:29px;z-index:100")


                    img(class="ent",style="display:none;border-color:transparent;border:none;position:absolute;background-image:url('img/casella-skills.png'); width:135px;left:15px;top:235px;padding-top:1px;height:32px;z-index:100", onmouseover="$(this).css('cursor','pointer')", onclick="$(this).css('display','none');$('img.entt').css('display','block')")
                    img(class="entt",style="border:none;display:none;position:absolute;background-image:url('img/casella-skills-fill.png'); width:135px; left:15px;top:235px;padding-top:1px;height:31px;z-index:100", onmouseover="$(this).css('cursor','pointer')")
                    img(class="ent",style="border:none;display:none;position:absolute;background-image:url('img/casella-data-ora.png'); width:135px;left:15px;top:280px;height:65px;z-index:100", onmouseover="$(this).css('cursor','pointer')")
                    img(class="ent",style="border:none;display:none;position:absolute;background-image:url('img/button-sharry.png'); width:133px; left:15px;top:360px;height:33px;z-index:100", onmouseover="$(this).css('cursor','pointer')", onclick="initializeMap2();drop3();")




            #wrap(style="position:absolute;right:290px;")
                #leftside(style="border:none;margin-top:50px; position:absolute ;background-color:transparent;  opacity:0.9;z-index:50;width:270px; height:750px")
                    img(src="img/button-now.png")
                    img(src="img/tool-box.png", style="border:none;float:right; margin-top:20px")


